#this is the "requirements.txt file
#this file contains all the required packages that must be installed 

requests

plotly

#need for api
spotipy

#plotly requires pandas
pandas

python-dotenv

#test
pytest


#for displaying images
IPython

#needed for webapp
flask

#server needs this to run the webapp
gunicorn