{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1 class="display-3">About our Web App!</h1>
    <p>Here you can learn more information about the app and its creation. <br></p>

    <p></p>
    <p></p>

    <h3>Github</h3>
    <p>If you want to see more of the code behind the app, here is the link! <br>
        <a href="https://github.com/chnn128/pythonfinal" target="_blank">https://github.com/chnn128/pythonfinal</a></p>
    

    <p></p>
    <p></p>
    
    <h3>Spotify Information</h3>
    <p>From the Spotify Web API <a href="https://developer.spotify.com/documentation/web-api" target="_blank">website</a>:</p>
    <p style="margin-left: 25px;">Spotify Web API enables the creation of applications that can interact with Spotify's streaming service, such as retrieving content metadata, getting recommendations, creating and managing playlists, or controlling playback.
    </p>
    <p style="margin-left: 25px;"> The Spotify Web API provides a wide range of functionality for developers, including:</p>
    <ul style="margin-left: 50px;">
        <li>Retrieve data from your favourite artist, album or show.</li>
        <li>Search for Spotify content.</li>
        <li>Control and interact with the playback, play and resume, Seek to a position or retrieve your queue.</li>
        <li>Manage your personal library, by creating a new playlist and adding your favourite tracks to it.</li>
        <li>Get recommendations based on the music you listen the most.</li>
    </ul>

    <p></p>
    <p></p>
    
    <h3>Creators</h3>
    <p>Info about us! <br> At the time of the creation of this project, we are two students in our third year at Georgetown Univeristy's business school in the undergraduate program. Under the guidance of professor Rossetti, we've created this web app! </p>

{% endblock %}