{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About the web app!</h1>
    <p>Here you can learn more information about the app and its creation.</p>

    <p></p>
    <p></p>

    <h3>Github</h3>
    <p>If you want to see more of the code behind the app.</p>

    <p></p>
    <p></p>
    
    <h3>Spotify Information</h3>
    <p>Information about how to use the API.</p>

    <p></p>
    <p></p>
    
    <h3>Creators</h3>
    <p>Info about us!</p>

{% endblock %}